.dashboard {
  height: 85vh;
  border-radius: 15px;
  background: #ffffff;
  box-shadow:  -5px -5px 24px #666666,
               5px 5px 24px #ffffff;
  padding: 20px;
}

.create-link{
  display: inline-block;
  background: #D9E1E7;
  color: #06152B;
  padding: 15px 70px;
  border-radius: 15px;
  text-decoration: none;
}