@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");

/* variables */
:root {
  --heading-color: #373a48;
  --text-color: #373a48;
  --primary-color: #a5aed9;
  --highlight-color: #d13267;
  --bg-color: #d2d6ec;
}

/* base styles */
body {
  font-family: "ABeeZee", sans-serif;
  margin: 0;
  font-size: 1.1em;
  background: #ffffff;
  color: var(--text-color);
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1em;
  color: var(--heading-color);
  display: inline-block;
}
.btn {
  background: var(--primary-color);
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--text-color);
  cursor: pointer;
  font-size: 1em;
  border: none;
  box-shadow:  7px 7px 23px #7d84a5,
             -7px -7px 23px #cdd8ff;
}
.btn:hover {
  box-shadow:  13px 13px 26px #616780,
  -13px -13px 26px #e9f5ff;
}

.btn:active {
  box-shadow: inset 7px 7px 23px #7d84a5, inset -7px -7px 23px #cdd8ff;
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input,
textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}
